<html><center>
<h1> This system is running {{ ansible_os_family }} </h1>
<h2> System hostname {{ ansible_hostname }} </h2>
<h2> System IP address {{ ansible_default_ipv4.address }} </h2>
<h2> System kernel version {{ ansible_kernel }} </h2>
</html>
